- var images = [{ name: 'slide-1.png' }, { name: 'slide-2.png' }, { name: 'slide-3.png' },{ name: 'slide-4.png' },{ name: 'slide-5.png' }];

div.slider
  each img, index in images
      div(class=`slider__item slider__item--${index + 1}`)

