- var contacts = { phone:'+79990001234', text: 'Наши контакты' }

footer.footer
    div.footer__contacts
        div.footer-contacts-block
            span.footer-contacts-block__text= contacts.text
            span.footer-contacts-block__text= contacts.phone
        include ./social.pug

