-
    var links =
    [
      { text: 'Продукты', href: 'products.html' },
      { text: 'FAQ', href: 'faq.html' },
      { text: 'Результаты', href: 'results.html' },
      { text: 'Доставка', href: 'delivery.html' },
      { text: 'Сотрудничество', href: 'partnership.html' }
    ];
- var contacts = { phone:'+79990001234' }
- var icons = [{ name: 'telegram', url: 'https://web.telegram.org'}, { name: 'instagram', url: 'https://www.instagram.com'}]

header.header
    div.logo.header__logo
        a(href="index.html" class='logo__img')
    div.header__navigation
        nav.navigation-list
          each link in links
              a(class='navigation-list__item' href=link.href)= link.text
    div.header__contacts
        include ./social.pug
        a(href="tel:8 999 000 12 34" class='header__contacts-phone')= contacts.phone
    button.mobile-menu-button.header__mobile-menu-button


