@font-face {
  font-family: "HarmonyOS Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Regular"), url("../fonts/harmony-sans/HarmonyOS_Sans_Regular.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Regular_Italic.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Thin";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Thin"), url("../fonts/harmony-sans/HarmonyOS_Sans_Thin.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Thin Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Thin_Italic.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Light";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Light"), url("../fonts/harmony-sans/HarmonyOS_Sans_Light.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Light Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Light_Italic.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Medium"), url("../fonts/harmony-sans/HarmonyOS_Sans_Medium.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Medium Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Medium_Italic.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Bold"), url("../fonts/harmony-sans/HarmonyOS_Sans_Bold.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Bold Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Bold_Italic.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Black";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Black"), url("../fonts/harmony-sans/HarmonyOS_Sans_Black.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Black Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Black_Italic.woff") format("woff");
}
/* 16px */
/* 14px */
/*  $Leading (line-height)
    ================================================== */
/* 16px */
/* 20px */
@font-face {
  font-family: "HarmonyOS Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Regular"), url("../fonts/harmony-sans/HarmonyOS_Sans_Regular.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Regular_Italic.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Thin";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Thin"), url("../fonts/harmony-sans/HarmonyOS_Sans_Thin.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Thin Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Thin_Italic.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Light";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Light"), url("../fonts/harmony-sans/HarmonyOS_Sans_Light.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Light Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Light_Italic.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Medium"), url("../fonts/harmony-sans/HarmonyOS_Sans_Medium.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Medium Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Medium_Italic.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Bold"), url("../fonts/harmony-sans/HarmonyOS_Sans_Bold.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Bold Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Bold_Italic.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Black";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Black"), url("../fonts/harmony-sans/HarmonyOS_Sans_Black.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOS Sans Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Black Italic"), url("../fonts/harmony-sans/HarmonyOS_Sans_Black_Italic.woff") format("woff");
}
html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: HarmonyOS Sans Regular, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.social {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social .social__telegram {
  background-image: url("../icons/telegram.svg");
}
.social .social__instagram {
  background-image: url("../icons/instagram.svg");
}

.icon {
  display: block;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.slider .slider__item--1 {
  background-image: url("../images/slide-mobile-1.png");
}
.slider .slider__item--2 {
  background-image: url("../images/slide-mobile-2.png");
}
.slider .slider__item--3 {
  background-image: url("../images/slide-mobile-3.png");
}
.slider .slider__item--4 {
  background-image: url("../images/slide-mobile-4.png");
}
.slider .slider__item--5 {
  background-image: url("../images/slide-mobile-5.png");
}
@media (min-width: 769px) {
  .slider .slider__item--1 {
    background-image: url("../images/slide-1.png");
  }
  .slider .slider__item--2 {
    background-image: url("../images/slide-2.png");
  }
  .slider .slider__item--3 {
    background-image: url("../images/slide-3.png");
  }
  .slider .slider__item--4 {
    background-image: url("../images/slide-4.png");
  }
  .slider .slider__item--5 {
    background-image: url("../images/slide-5.png");
  }
}

.slider {
  height: 100%;
  position: relative;
  width: 100%;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: auto;
}
.slider__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  width: 100%;
}

.header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 108px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 24px;
}
@media (min-width: 769px) {
  .header {
    padding: 0 48px;
  }
}
@media (min-width: 769px) {
  .header__logo, .header__navigation, .header__contacts {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__contacts, .header__contacts-phone {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: #000;
}
.header__contacts {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  display: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (min-width: 769px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header .header__mobile-menu-button {
  background-image: url("../icons/mobile-menu-button.svg");
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
}
@media (min-width: 769px) {
  .header .header__mobile-menu-button {
    display: none;
  }
}
.header .header__mobile-menu-button.open-menu {
  background-image: url("../icons/mobile-open-menu-button.svg");
  height: 24px;
  position: absolute;
  right: 24px;
  top: 44px;
  width: 24px;
  z-index: 20;
}
.header .social {
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
}
.header .social__telegram, .header .social__instagram {
  height: 40px;
  width: 40px;
}

.logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../icons/logo.svg");
  height: 44px;
  width: 165px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media (min-width: 769px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 768px) {
  .navigation-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    padding: 48px 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
}
@media (max-width: 768px) {
  .navigation-list.open-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.navigation-list__item {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.navigation-list__item:after {
  background-color: #000;
  content: "";
  display: none;
  height: 1px;
  width: 100%;
}
.navigation-list__item:hover:after {
  display: block;
}

.mobile-menu-button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 32px;
}

.footer {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 146px;
  padding: 20px 24px 0;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 12px;
}
.footer .social {
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
}
.footer .social__telegram, .footer .social__instagram {
  height: 28px;
  width: 28px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}
.footer-contacts__text, .footer-contacts__phone {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1rem;
  color: #000;
}

.main {
  height: calc(100vh - 108px);
  min-height: 300px;
}