.footer {
  background-color: $chalk-white;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: $footer;
  padding: map-get($indents, lg) map-get($indents, lgmd) 0;

  @include desktop() {
    padding: map-get($indents, lg) map-get($indents, lgmd) * 2 0;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: map-get($indents, md);
  }

  .social {
    column-gap: map-get($indents, md);

    &__telegram,
    &__instagram {
      height: 28px;
      width: 28px;
    }
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  row-gap: map-get($indents, lg);

  &__text,
  &__phone {
    @include font-size-minor();
    color: $ink-black;
  }
}
