@font-face {
  font-family: 'HarmonyOS Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local('HarmonyOS Sans Light'), url('../fonts/harmony-sans/HarmonyOS_Sans_Light.ttf') format('truetype');
  font-display: swap;
}
