@import "./_variables";
@import "./_font-face";

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: $primaryFont;
  font-size: $baseFont;
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.social {
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

  .social__telegram {
    background-image: url("../icons/telegram.svg");
  }

  .social__instagram {
    background-image: url("../icons/instagram.svg");
  }
}

.icon {
  display: block;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
