$primaryFont: HarmonyOS Sans Light, sans-serif;
$baseFont: 16px;

$chalk-white: #fff;
$ink-black: #000;

$screen-sm-min: 768px;

$header: 108px;
$footer: 146px;

$indents: (
  exsm: 4px,
  sm: 8px,
  md: 12px,
  exmd: 16px,
  lg: 20px,
  lgmd: 24px,
  exlg: 28px,
);
