$images: 'slide-1.jpg', 'slide-2.jpg', 'slide-3.jpg',  'slide-4.jpg',  'slide-5.jpg';
$images-mobile: 'slide-mobile-1.jpg', 'slide-mobile-2.jpg', 'slide-mobile-3.jpg',  'slide-mobile-4.jpg',  'slide-mobile-5.jpg';

.slider {
  @for $i from 1 through length($images-mobile) {
    .slider__item--#{$i} {
      background-image: url('../images/#{nth($images-mobile, $i)}');
    }
  }
  @include desktop() {
    @for $i from 1 through length($images) {
      .slider__item--#{$i} {
        background-image: url('../images/#{nth($images, $i)}');
      }
    }
  }
}

.slider {
  height: 100%;
  position: relative;
  width: 100%;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: auto;

  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 1s;
    width: 100%;
  }
}
